package ${PACKAGE};

import java.awt.*;
import javax.swing.*;


class ${STATE_NAME} extends State {
    ${STATE_NAME}() {
        super("${STATE_KEY}");
    }

    @Override protected boolean isInState(JComponent c) {
${BODY}
    }
}

